*{
    margin: 0;
    padding: 0;
}


nav ul{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(7, 63, 56);
    color: wheat;
    list-style:none;
    font-size: 20PX;
}

nav ul li{
    padding: 10px;
    cursor: pointer;
    
}
nav ul li a{
    text-decoration: none;
    color: wheat;
}

#brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

#brand img{
    height: 60px;
    padding: 0 8px;
    border-radius: 50%;
}

/* Background img & text */

#bg{
    width: 100vw;
    height: 70vh;
    position: relative;
   
    /* border: 1px solid wheat; */
}

#bg img{
    width: 100vw;
    height: 70vh;
    position: absolute;
}

#bg .section{
    color: antiquewhite;
    top: 15vh;
    left: 8vw;
    position: absolute;
}

#bg .section h2{
    font-size: 5rem;
}

#bg .section p{
    font-size: 2rem;
}

/* top-demanding books */

#top-books{
    height: 120vh;
}

.books{
    background:rgb(179, 190, 56);
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin: 2px;
}

.books .heading{
    position: absolute;
    top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(28, 27, 26);
    font-style: italic;
}

.books .cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    position: absolute;
    margin-top: 10px;
}

.books .cards .card{
    margin: 10px;
    height: 40vh;
    border-radius: 0.6rem;
    background: white;
}
.books .cards .card a{
    text-decoration: none;
    color: black;
}
.books .cards .card img{
    height: 30vh;
    width: 150px;
    padding: 15px;
    border-radius: 0.6rem;
    transition: all 0.5s ease-in-out;
}

.books .cards .card img:hover{
    transform: scale(1.1);
}

.card .container{
    margin: 0.2rem 1rem;
    font-size: 20px;

}

/* other books */
#other-books{
    background-color: rgb(230, 124, 58);
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(10, 104, 112);
    height: 80px;
    
}

.social .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    margin: auto;
    /* font-size: 40px; */
}

.social .logo a{
    font-size: 20px;
    color: rgb(227, 231, 239);

}
.social p{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 900;
}

@media screen and (max-width: 992px) {

    #bg .section h2{
        font-size: 4rem;
    }
    
    #bg .section p{
        font-size: 2rem;
    }

    #top-books{
        height: 160vh;
    }
    .books{
        height: 260vh;
    }

    .books .cards{
        margin-top: 40px;
    }
}


@media screen and (max-width: 900px) {
    
    #bg{
        height: 60vh;
    }

    #bg img{
        height: 60vh;
    }

    #bg .section h2{
        font-size: 3rem;
    }
    
    #bg .section p{
        font-size: 2rem;
    }


    #top-books{
        height: 190vh;
    }
    .books{
        height: 260vh;
    }

    .books .cards{
        margin-top: 40px;
    }
}

@media screen and (max-width: 700px) {

    #bg{
        height: 50vh;
    }

    #bg img{
        height: 50vh;
    }

    #bg .section h2{
        font-size: 2.5rem;
    }
    
    #bg .section p{
        font-size: 1.5rem;
    }

    .books .cards{
        margin-top: 50px;
    }

    #top-books{
        height: 200vh;
    }
    .books{
        height: 350vh;
    }

    /* .books .cards .card{
        height: 30vh;
    }

    .books .cards .card img{
        height: 20vh;
    }  */
}

@media screen and (max-width: 500px) {

    #bg{
        height: 40vh;
    }

    #bg img{
        height: 40vh;
    }
    
    #bg .section h2{
        font-size: 2rem;
    }
    
    #bg .section p{
        font-size: 1.5rem;
    }

    #top-books{
        height: 200vh;
    }
    .books{
        height: 260vh;
    }

    .books .cards{
        margin-top: 20px;
    }

    .books .cards .card{
        height: 30vh;
    }

    .books .cards .card img{
        height: 20vh;
    } 
}

@media screen and (max-width: 470px){
    #top-books{
        height: 300vh;
    }
    .books{
        height: 460vh;
    }
}

@media screen and (max-width: 370px){
    #top-books{
        height: 300vh;
    }
    .books{
        height: 460vh;
    }
}